@mixin unstyled-list() {
	list-style: none;
	padding: 0;
}

@mixin button() {
	padding: $s-space;
	font-size: 1.2rem;
	background: $color-button-bkg;
	color: $color-font-reverse;

	&:hover,
	&:focus {
		border: 1px solid $color-accent;
		background: $white;
		color: $color-accent;
	}
}

/**************/
/* VISIBILITY */
/**************/
@mixin visually-hidden() {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

@mixin show-on-focus() {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	&:focus {
		position: static !important;
		height: auto;
		width: auto;
		overflow: visible;
		clip: auto;
	}
}
