// GENERIC STARTER STYLES - TO BE REPLACED
/* color */
$grey: #ccc;
$black: #090909;
$blue: #0b70f4;
$white: #ffffff;

$color-accent: $blue;
$color-ui: $grey;
$color-font: $black;
$color-font-reverse: $white;
$color-link: $color-accent;
$color-button-bkg: $color-accent;

/* font */
$global-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$global-font-weight-bold: 600;
$global-font-weight-normal: 400;
$global-font-color: $color-font;

/* border */
$border-color: $color-ui;
$border-weight: 1px;
$border-radius: 5px;
$border: $border-weight solid $border-color;

/* spacing vars */
$xs-space: 5px;
$s-space: 10px;
$m-space: 20px;
$l-space: 30px;
$xl-space: 60px;